*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body {
	
    
}

.mainwrapper {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	background: rgb(47, 47, 47);
	height: 130vh;
	overflow: hidden;
	
}
.mainwrapper2 {
	display: flex;
	background: rgb(47, 47, 47);
	height: 100vh;
	overflow: hidden;
	
}
.mainwrapper3 {
	display: flex;
	background: rgb(47, 47, 47);
	height: 30vh;
	overflow: hidden;
	
}
/* start main nav */
.col1{
	margin-top: 2vh;
	margin-left: 2vw;
}

.topleft{
	position: relative;
	max-width: 100vw;
	z-index: 1000;
}

.topleft > li
{
	list-style: none;
	opacity: 0;
	animation: fadeIn 0.9s 1;
	animation-fill-mode: forwards;
	z-index: 100;
}
.topleft > li:nth-child(n+1) {
	animation-delay: 0.5s;
  }
  .topleft > li:nth-child(n+2) {
	animation-delay: 0.9s;
  }
  .topleft > li:nth-child(n+3) {
	animation-delay: 1.3s;
  }
  .topleft > li:nth-child(n+4) {
	animation-delay: 1.7s;
  }
  .topleft > li:nth-child(n+5) {
	animation-delay: 2.1s;
  }
  .topleft li span
{
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
	transition: 0.5s;
	
}


.topleft li span:hover
{
	color: rgba(0,0,0,0.2);
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.topleft li span:before,
.topleft li span:after 
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.topleft li span:hover:before 
{
	color: #cacaca;
	z-index: 1;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transform: translate(2.5px,-2.5px);
}
.topleft li span:hover:after 
{
	color: #fff;
	z-index: 2;
	-webkit-text-stroke: 1px #cacaca;
	transform: translate(5px,-5px);
}
div.screen {
	margin: 0 auto;
	width: 23.5em;
	height: 35.25em;
	overflow: hidden;
	position: relative;
	
	
	
  }
  div.screen nav.lil-nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	padding: 2em;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav.toggled {
	display: block;
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen nav.lil-nav ul {
	padding: 2em 0 0 0;
	list-style: none;
	
  }
  
  div.screen nav.lil-nav ul li span {
	font-size: 1.25em;
	color: #fff;
	padding: 1em 0;
	font-weight: 300;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
  }
 
  div.screen nav.lil-nav ul li span:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding: 1em;
  }
  div.screen header {
	position: absolute;
	top: 0;
	z-index: 15;
  }
  div.screen header a.target-burger {
	margin: 1.125em;
	width: 3.25em;
	height: 3.25em;
	position: absolute;
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  }
  div.screen header a.target-burger:hover {
	cursor: pointer;
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
  }
  div.screen header a.target-burger.toggled ul.buns li.bun {
	-webkit-transform: rotate(45deg) translateZ(0);
	transform: rotate(45deg) translateZ(0);
  }
  div.screen header a.target-burger.toggled ul.buns li.bun:last-child {
	-webkit-transform: rotate(-45deg) translateZ(0);
	transform: rotate(-45deg) translateZ(0);
  }
  div.screen header a.target-burger ul.buns {
	width: 1.625em;
	height: 1.625em;
	list-style: none;
	margin: -0.8125em 0 0 -0.8125em;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	color: #fff;
  }
  div.screen header a.target-burger ul.buns li.bun {
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.75px;
	-webkit-transform: translateY(-3.75px) translateZ(0);
	transform: translateY(-3.75px) translateZ(0);
	-webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  div.screen header a.target-burger ul.buns li.bun:last-child {
	-webkit-transform: translateY(3.75px) translateZ(0);
	transform: translateY(3.75px) translateZ(0);
  }

  /* =============================================================================
	 Mixins & Functions
	 ========================================================================== */
  .inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
  }
.mainbanner
{	
	margin-top: 25vh;
	font-family: 'Source Code Pro', monospace;
	
	color: #fff;
	font-size: 10em;
	
	
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				-9px 9px #cacaca,
				-10px 10px #cacaca,
				-11px 11px #cacaca,
				-12px 12px #cacaca,
				-20px 20px rgba(0,0,0,0.2);
	transition: 2.5s;
}
.mainbannerp
{	
	
	
	
	color: #fff;
	font-size: 4em;
	
	
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	margin-left:2rem;
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
	transition: 2.5s;
}

.signup {	
	
	color: black;
	font-size: 1rem;
	width: 15rem;
	height: 3rem;
    margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	box-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
	transition: 2.5s;
}

.box {	
	
	color: black;
	font-size: 1rem;
	width: 25rem;
	height: 30rem;
    margin-left: 2rem;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: none;
	background: white;
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	box-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
                -8px 8px #cacaca,
                -9px 9px #cacaca,
				-15px 15px rgba(68, 39, 39, 0.431);
	transition: 2.5s;
}
#script {
    
	
	color: #fff;
	font-size: 2em;
	
	
	
	left: 5rem;
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				
				
				
				-6px 6px rgba(0,0,0,0.2);
	transition: 2.5s;
}
#sub {
    width: 100%;
    display: flex; 
    justify-content: center;
}
.mainbanner:hover{
	transform: rotate(-1.8deg) skewX(6deg) translate(3px,-3px);
	
}
.center-con {
	display: flex;
	
    margin-top: 45vh;
    align-items: center;
	justify-content: center;
	transform: rotate(90deg);
}



.round {
    position: absolute;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

#cta{
    width:100%; cursor: pointer; position: absolute;
}
/* arrow */
#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:12px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.svg-wrapper {
	position: relative;
	top: 10%;
	justify-content: center;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
  }
  .shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: #fff;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .quotes {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
	top: -48px;
	margin-left: 20px;
	position: relative;
  }
  .quotes > span 
{
	user-select: none;
	text-decoration: none;
	color: white;
}
  .svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
  @keyframes fadeIn {
	0% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
  }
  @media (max-width: 1300px) {
    .mainwrapper {
      grid-template-columns: 0% 100%;
    }
    .col3 {
      display: none;
    }
  }
  @media (max-width: 768px) {
	  .mainbanner {
		  font-size: 8em;
		  margin-top: 15rem;
      margin-right: 2rem;
	  }
  }

#post {
  text-align: center;
}

.contentc {
    display: flex;
    justify-content: center;
    width: 100%;
}


 .glitch {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 60px;
    margin-left: 5rem;
    padding: 30px;
    transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch::before, 
  .glitch::after {
    padding: 30px;
    color: white;
    content: "Tech";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    top: 0;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch::before {
    left: 3px;
    
    animation-name: glitch-animation-1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch::after {
    left: -3px;
    text-shadow: -2px 0 lightgray;
    animation-name: glitch-animation-2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
  
  .glitch1 {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 60px;
    padding: 30px;
    transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch1::before, 
  .glitch1::after {
    padding: 30px;
    color: white;
    content: "Startups";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    top: 0;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch1::before {
    left: 3px;
    
    animation-name: glitch-animation-1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch1::after {
    left: -3px;
    text-shadow: -2px 0 lightgray;
    animation-name: glitch-animation-2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }

    
  .glitch2 {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    position: relative;
    font-size: 60px;
    padding: 30px;
    transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch2::before, 
  .glitch2::after {
    padding: 30px;
    color: white;
    content: "Software";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    top: 0;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch2::before {
    left: 3px;
    
    animation-name: glitch-animation-1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
    text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
  }
  .glitch2::after {
    left: -3px;
    text-shadow: -2px 0 lightgray;
    animation-name: glitch-animation-2;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
  @keyframes glitch-animation-1 {
    0% {
      clip: rect(2px, 350px, 11px, 30px);
    }
    5% {
      clip: rect(7px, 350px, 134px, 30px);
    }
    10% {
      clip: rect(123px, 350px, 136px, 30px);
    }
    15% {
      clip: rect(43px, 350px, 72px, 30px);
    }
    20% {
      clip: rect(71px, 350px, 107px, 30px);
    }
    25% {
      clip: rect(51px, 350px, 129px, 30px);
    }
    30% {
      clip: rect(6px, 350px, 40px, 30px);
    }
    35% {
      clip: rect(42px, 350px, 141px, 30px);
    }
    40% {
      clip: rect(47px, 350px, 24px, 30px);
    }
    45% {
      clip: rect(147px, 350px, 120px, 30px);
    }
    50% {
      clip: rect(62px, 350px, 78px, 30px);
    }
    55% {
      clip: rect(116px, 350px, 142px, 30px);
    }
    60% {
      clip: rect(123px, 350px, 117px, 30px);
    }
    65% {
      clip: rect(95px, 350px, 113px, 30px);
    }
    70% {
      clip: rect(138px, 350px, 35px, 30px);
    }
    75% {
      clip: rect(132px, 350px, 82px, 30px);
    }
    80% {
      clip: rect(102px, 350px, 100px, 30px);
    }
    85% {
      clip: rect(81px, 350px, 29px, 30px);
    }
    90% {
      clip: rect(38px, 350px, 126px, 30px);
    }
    95% {
      clip: rect(141px, 350px, 119px, 30px);
    }
    100% {
      clip: rect(141px, 350px, 100px, 30px);
    }
  }
  @keyframes glitch-animation-2 {
    0% {
      clip: rect(11px, 350px, 23px, 30px);
    }
    5% {
      clip: rect(142px, 350px, 30px, 30px);
    }
    10% {
      clip: rect(1px, 350px, 74px, 30px);
    }
    15% {
      clip: rect(103px, 350px, 127px, 30px);
    }
    20% {
      clip: rect(147px, 350px, 64px, 30px);
    }
    25% {
      clip: rect(67px, 350px, 63px, 30px);
    }
    30% {
      clip: rect(128px, 350px, 124px, 30px);
    }
    35% {
      clip: rect(14px, 350px, 31px, 30px);
    }
    40% {
      clip: rect(20px, 350px, 80px, 30px);
    }
    45% {
      clip: rect(101px, 350px, 83px, 30px);
    }
    50% {
      clip: rect(112px, 350px, 84px, 30px);
    }
    55% {
      clip: rect(5px, 350px, 130px, 30px);
    }
    60% {
      clip: rect(85px, 350px, 145px, 30px);
    }
    65% {
      clip: rect(103px, 350px, 17px, 30px);
    }
    70% {
      clip: rect(99px, 350px, 136px, 30px);
    }
    75% {
      clip: rect(133px, 350px, 149px, 30px);
    }
    80% {
      clip: rect(6px, 350px, 31px, 30px);
    }
    85% {
      clip: rect(66px, 350px, 126px, 30px);
    }
    90% {
      clip: rect(68px, 350px, 98px, 30px);
    }
    95% {
      clip: rect(115px, 350px, 121px, 30px);
    }
    100% {
      clip: rect(59px, 350px, 70px, 30px);
    }
  }






