@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
html
{
   overflow:hidden;
   height:100%;
}
body{
	position:relative;
	overflow-y:scroll;
	height:100%;
	-webkit-overflow-scrolling:touch;
	background: #4c6865;
	
 
}
.body {
	
}
.color{
	background: #4c6865;
}
.mainwrapper2 {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	
	
	margin-right: 1rem;
	overflow-x: hidden;
	
}

.col1{
	margin-top: 2vh;
	margin-left: 2vw;
}
/* start main nav */
.topleft{
	position: relative;
	max-width: 100vw;
	z-index: 1000;
}

.topleft > li
{
	list-style: none;
	opacity: 0;
	animation: fadeIn 0.9s 1;
	animation-fill-mode: forwards;
	z-index: 100;
}

  .topleft li span
{
	position: relative;
	display: block;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-size: 3em;
	font-weight: 900;
	text-decoration: none;
	line-height: 1.2em;
	transition: 0.5s;
	
}


.topleft li span:hover
{
	color: rgba(0,0,0,0.2);
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transition: 0.5s;
}
.topleft li span:before,
.topleft li span:after 
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.topleft li span:hover:before 
{
	color: teal;
	z-index: 1;
	-webkit-text-stroke: 1px rgba(0,0,0,0.2);
	transform: translate(2.5px,-2.5px);
}
.topleft li span:hover:after 
{
	color: #fff;
	z-index: 2;
	-webkit-text-stroke: 1px #cacaca;
	transform: translate(5px,-5px);
}


  /* =============================================================================
	 Mixins & Functions
	 ========================================================================== */
  .inline-block {
	display: inline-block;
	*display: inline;
	*zoom: 1;
  }
  .col2con {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  
  }
.mainbanner
{	
	margin-top: 5vh;
	font-family: 'Source Code Pro', monospace;
	
	color: #fff;
	font-size: 8em;
	margin-bottom: 10vh;
	text-align: center;
	
	outline: none;
	
	user-select: none;
	transform: rotate(-2deg) skewX(10deg);
	text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				-9px 9px #cacaca,
				-10px 10px #cacaca,
				-11px 11px #cacaca,
				-12px 12px #cacaca,
				-20px 20px rgba(0,0,0,0.2);
	transition: 2.5s;
}


.mainbanner:hover{
	transform: rotate(-1.8deg) skewX(6deg) translate(3px,-3px);
	
}

.svg-wrapper {
	position: relative;
	top: 10%;
	justify-content: center;
	transform: translateY(-50%);
	margin: 0 auto;
	width: 320px;  
  }
  .shape {
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	fill: transparent;
	stroke: teal;
	border-bottom: 5px solid black;
	transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .quotes {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: #fff;
	top: -48px;
	margin-left: 20px;
	position: relative;
  }
  .quotes > span 
{
	user-select: none;
	text-decoration: none;
	color: white;
}
  .svg-wrapper:hover .shape {
	stroke-width: 2px;
	stroke-dashoffset: 0;
	stroke-dasharray: 760;
  }
  @keyframes fadeIn {
	0% {
	  opacity: 0.0;
	}
	100% {
	  opacity: 1.0;
	}
  }

  .containerform
  {
	  width: 100%;
	  padding: 20px;
	  
  }
  
  .containerform .row100
  {
	  
	  width: 100%;
	  display: grid;
	  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	  
  }
  .containerform .row100 .col
  {
	  position: relative;
	  width: 100%;
	  padding: 0 10px;
	  margin: 30px 0 20px;
	  transition: 0.5s;
  }
  .containerform .row100 .inputBox
  {
	  position: relative;
	  width: 100%;
	  height: 40px;
	  color: #fff;
  }
  .containerform .row100 .inputBox input,
  .containerform .row100 .inputBox textarea
  {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: transparent;
	  box-shadow: none;
	  border: none;
	  outline: none;
	  font-size: 18px;
	  padding: 0 10px;
	  z-index: 1;
	  color: #b0a2a2;
  }
  .containerform .row100 .inputBox .text
  {
	  position: absolute;
	  top: 0;
	  left: 0;
	  line-height: 40px;
	  font-size: 18px;
	  padding: 0 10px;
	  display: block;
	  transition: 0.5s;
	  pointer-events: none;
  }
  .containerform .row100 .inputBox input:focus + .text,
  .containerform .row100 .inputBox input:valid + .text
  {
	  top: -35px;
	  left: -10px;
  }
  .containerform .row100 .inputBox .line
  {
	  position: absolute;
	  bottom: 0;
	  display: block;
	  width: 100%;
	  height: 2px;
	  background: #fff;
	  transition: 0.5s;
	  border-radius: 2px;
	  pointer-events: none;
  }
  .containerform .row100 .inputBox input:focus ~ .line,
  .containerform .row100 .inputBox input:valid ~ .line
  {
	  height: 100%;
  }
  
  .containerform .row100 .inputBox.textarea
  {
	  position: relative;
	  width: 100%;
	  height: 100px;
	  padding: 10px 0;
  }
  .containerform .row100 .inputBox textarea
  {
	  height: 100%;
	  resize: none;
  }
  .containerform .row100 .inputBox textarea:focus ~ .line,
  .containerform .row100 .inputBox textarea:valid ~ .line
  {
	  height: 100%;
  }
  .containerform .row100 .inputBox textarea:focus + .text,
  .containerform .row100 .inputBox textarea:valid + .text
  {
	  top: -35px;
	  left: -10px;
  }
button[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: teal;
    color: white;
    font-size: 18px;
    border-radius: 2px;
}
@media (max-width: 768px) {
	.mainwrapper {
		height: 130vh;
	}
	.mainbanner {
		font-size: 4em;
		margin-right: 75px;
		margin-bottom: -3px;
		
	}
}

@media (max-width: 1100px) {
	
	.quotes{
		display: none;
	}
	.svg-wrapper{
		display: none;
	}
	.shape{
		display: none;
	}
	
	.mainbanner{
		
	margin-top: 1em;
	
	}
	.topleft li span{
		font-size: 2rem;
	}
	
	
}

@media (max-width: 840px){
	.mainbanner{ 
		font-size: 6em;
		margin-top: 250px;
		text-shadow: -1px 1px #cacaca,
				-2px 2px #cacaca,
				-3px 3px #cacaca,
				-4px 4px #cacaca,
				-5px 5px #cacaca,
				-6px 6px #cacaca,
				-7px 7px #cacaca,
				-8px 8px #cacaca,
				
				-10px 10px rgba(0,0,0,0.2);
}
.col2con {
	height: 140vh;
	
}


}

@media (max-width: 550px){
	
	
.container
{
    width: 80%;
    padding: 20px;
	
}
.mainbanner{ 
	font-size: 4.5em;
	
	
}
.mainwrapper2 {
	display: grid;
	grid-template-columns: 0% 100% ;
	

	
	overflow-x: hidden;
	
}

.container .row100
{
    
    width: 100%;
    display: grid;
    grid-template-columns: 200px;
	margin-left: -40px;
	
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
    transition: 0.5s;
}
}




/* footer */


.quotes3 {
	display: flex;
  height: 15vh;
	justify-content: space-around;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	line-height: 22px;
	letter-spacing:4px;
	color: #fff;
	
	
	flex-wrap: wrap;
	position: relative;
	display: none;
  }
  .quotes3 > div
{
	user-select: none;
	text-decoration: none;
	color: white;
}
#footercol1 {
  display: flex;
  flex-direction: column ;
  align-content: space-between;
}
#footercol2 {
  display: flex;
  flex-direction: column ;
  align-content: space-between;
}
@media (max-width: 1100px) {
	.quotes3 {
		display: flex;
		justify-content: space-around;
		margin-left: 0rem;
	}
}